.fade-in-appear {
  opacity: 0;
}

.fade-in-appear-active {
  opacity: 0;
  transition: opacity 500ms;
}

.fade-in-appear-done {
  opacity: 1;
}

.fade-in-enter-done {
  opacity: 1;
  transition: opacity 500ms;
}
