@import-normalize;

:root {
    --radius: 1rem;
    --radius-2: 0.5rem;

    --primary-color-1: #495e57;
    --primary-color-2: #f4ce14;
    --secondary-color-1: #ee9972;
    --secondary-color-2: #fbdabb;
    --secondary-color-3: #edefee;
    --secondary-color-4: #333333;
    --secondary-color-5: #ffffff;

    --font-family-1: "MarkaziText";

    --display-title-weight: medium;
    --display-title-size: 5.3331rem;
    --display-title-line: 5.3331rem;

    --sub-title-weight: normal;
    --sub-title-size: 3.3331rem;
    --sub-title-line: 3.3331rem;

    --font-family-2: "Karla";

    --lead-text-weight: medium;
    --lead-text-size: 1.5rem;
    --lead-text-line: 1.5rem;

    --section-title-weight: 800;
    --section-title-size: 1.6669rem;
    --section-title-line: 1.6669rem;

    --section-categories-weight: bold;
    --section-categories-size: 1.3331rem;
    --section-categories-line: 1.3331rem;

    --cart-title-weight: 800;
    --cart-title-size: 1.5rem;
    --cart-title-line: 1.5rem;

    --paragraph-text-weight: normal;
    --paragraph-text-size: 1.3331rem;
    --paragraph-text-line: 1.5rem;

    --highlight-text-weight: medium;
    --highlight-text-size: 1.3331rem;
    --highlight-text-line: 1.3331rem;
}

body {
    color: var(--secondary-color-4);
    font-weight: var(--lead-text-weight);
    font-size: var(--lead-text-size);
    line-height: var(--lead-text-line);
    font-family: var(--font-family-2);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.button {
    cursor: pointer;
    height: 60px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid var(--primary-color-2);
    border-radius: var(--radius);
    background: var(--primary-color-2);
    font-weight: var(--section-categories-weight);
    font-size: var(--section-categories-size);
    line-height: var(--section-categories-line);
}

header img {
    grid-column: 3 / 5;
    margin: auto;
}

header nav {
    grid-column: 5 / 11;
}

header .nav ul {
    height: 3.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .nav a {
    color: var(--secondary-color-4);
    text-decoration: none;
}

.hero,
.testimonials,
.formTopSection,
.footer {
    background: var(--primary-color-1);
    color: var(--secondary-color-5);
}

.header,
.hero,
.highlights,
.testimonials,
.about,
.formTopSection,
.formBottomSection,
.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.heroText {
    grid-column: 3 / 8;
    margin: auto;
}

.heroText h1 {
    color: var(--primary-color-2);
    font-weight: var(--display-title-weight);
    font-size: var(--display-title-size);
    line-height: var(--display-title-line);
    font-family: var(--font-family-1);
}

.heroText h2 {
    font-weight: var(--sub-title-weight);
    font-size: var(--sub-title-size);
    line-height: var(--sub-title-line);
    font-family: var(--font-family-1);
}

.heroImages {
    grid-column: 8 / 11;
    display: flex;
    align-items: center;
}

.heroImages img {
    max-height: 325px;
    border-radius: var(--radius);
    margin-left: auto;
}

.highlightsTitle,
.highlightsCards {
    grid-column: 3 / 11;
}

.highlightsTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
}

.highlightsTitle h2 {
    font-weight: var(--section-title-weight);
    font-size: var(--section-title-size);
    line-height: var(--section-title-line);
    margin: 0;
    text-transform: uppercase;
}

.highlightsCards {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background: var(--secondary-color-3);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardTitle h2 {
    margin: 0;
    font-weight: var(--cart-title-weight);
    font-size: var(--cart-title-size);
    line-height: var(--cart-title-line);
}
.cardTitle span {
    font-weight: var(--highlight-text-weight);
    font-size: var(--highlight-text-size);
    line-height: var(--highlight-text-line);
}

.cardTitle span {
    color: var(--secondary-color-1);
}

.contentTop p {
    font-weight: var(--paragraph-text-weight);
    font-size: var(--paragraph-text-size);
    line-height: var(--paragraph-text-line);
}

.card .content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.card .cardImage {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-size: cover;
    height: 185px;
}

.cardDelivery button {
    padding: 0;
    background: none;
    border: none;
    font-weight: var(--section-categories-weight);
    font-size: var(--section-categories-size);
    line-height: var(--section-categories-line);
    display: flex;
}
.cardDelivery button svg {
    padding-left: 0.5rem;
}

.testimonialsReview {
    grid-column: 3 / 11;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.testimonialsReview h2 {
    grid-column: 1 / 5;
    text-align: center;
}

.testimonialsReview h2 {
    text-transform: uppercase;
    font-weight: var(--section-title-weight);
    font-size: var(--section-title-size);
    line-height: var(--section-title-line);
}

.review {
    background: var(--secondary-color-3);
    color: var(--secondary-color-4);
    padding: 1rem;
    border-radius: var(--radius);
}

.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars span {
    color: var(--secondary-color-1);
    font-weight: var(--section-title-weight);
    font-size: var(--section-title-size);
    line-height: var(--section-title-line);
}

.reviewImg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.reviewImg img {
    margin: 1rem 0;
}

.reviewImg h3 {
    font-weight: var(--cart-title-weight);
    font-size: var(--cart-title-size);
    line-height: var(--cart-title-line);
    margin: 0;
}

.aboutText {
    grid-column: 3 / 8;
    margin: auto;
}

.aboutText h2 {
    color: var(--primary-color-2);
    font-weight: var(--display-title-weight);
    font-size: var(--display-title-size);
    line-height: var(--display-title-line);
    font-family: var(--font-family-1);
}

.aboutText h3 {
    font-weight: var(--sub-title-weight);
    font-size: var(--sub-title-size);
    line-height: var(--sub-title-line);
    font-family: var(--font-family-1);
}

.aboutImages {
    grid-column: 8 / 11;
    overflow: hidden;
    border-radius: var(--radius);
}

.formTop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.formTop {
    grid-column: 3 / 11;
}

.formTop input:not([type="radio"]),
.formTop select,
.formTop textarea {
    border-color: var(--secondary-color-3);
    font-weight: var(--lead-text-weight);
    font-size: var(--lead-text-size);
    line-height: var(--lead-text-line);
    background: var(--secondary-color-3);
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 80px;
    max-width: 400px;
    padding: 1rem;
    border-radius: var(--radius-2);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: none;
}

.formTop select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.formTop select option {
    border-color: var(--secondary-color-3);
    font-weight: var(--lead-text-weight);
    font-size: var(--lead-text-size);
    line-height: var(--lead-text-line);
    background: var(--secondary-color-3);
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 80px;
    max-width: 400px;
    padding: 1rem;
}

.formTop label {
    position: relative;
}

.formTop label svg {
    position: absolute;
    right: 1rem;
    bottom: 30px;
}

.formTop select::-ms-expand {
    display: none;
}

.formBottom {
    grid-column: 3 / 11;
}

.footer svg {
    padding-right: 0.75rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin-bottom: 0.5rem;
}

.footer a {
    color: var(--secondary-color-5);
    text-decoration: none;
}

.footer h4 {
    font-weight: var(--cart-title-weight);
    font-size: var(--cart-title-size);
    line-height: var(--cart-title-line);
    color: var(--primary-color-2);
}

.footerLogo {
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footerLogo img {
    min-width: 50%;
}

.footerLinks {
    grid-column: 5 / 7;
}

.footerContacts {
    grid-column: 7 / 9;
}

.footerContacts * {
    display: block;
    text-decoration: none;
    color: var(--secondary-color-5);
}

.footerSocial {
    grid-column: 9 / 11;
}

.footerContacts address p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.footerContacts address,
.footerContacts a,
.footerSocial a {
    display: flex;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
