@import-normalize;

:root {
    --radius: 1rem;
    --radius-2: 0.5rem;

    --primary-color-1: #495e57;
    --primary-color-2: #f4ce14;
    --secondary-color-1: #ee9972;
    --secondary-color-2: #fbdabb;
    --secondary-color-3: #edefee;
    --secondary-color-4: #333333;
    --secondary-color-5: #ffffff;

    --overlay-color-1: rgb(73, 94, 87, 0.5);

    --shadow-color-1: rgba(0, 0, 0, 0.25);
    --shadow-color-2: rgba(255, 255, 255, 0.25);

    --font-family-1: "MarkaziText";

    --display-title-weight: medium;
    --display-title-size: 5.3331rem;
    --display-title-line: 5.3331rem;

    --sub-title-weight: normal;
    --sub-title-size: 3.3331rem;
    --sub-title-line: 3.3331rem;

    --font-family-2: "Karla";

    --lead-text-weight: medium;
    --lead-text-size: 1.5rem;
    --lead-text-line: 1.5rem;

    --section-title-weight: 800;
    --section-title-size: 1.6669rem;
    --section-title-line: 1.6669rem;

    --section-categories-weight: bold;
    --section-categories-size: 1.3331rem;
    --section-categories-line: 1.3331rem;

    --cart-title-weight: 800;
    --cart-title-size: 1.5rem;
    --cart-title-line: 1.5rem;

    --paragraph-text-weight: normal;
    --paragraph-text-size: 1.3331rem;
    --paragraph-text-line: 1.5rem;

    --highlight-text-weight: medium;
    --highlight-text-size: 1.3331rem;
    --highlight-text-line: 1.3331rem;
}

body {
    color: var(--secondary-color-4);
    font-weight: var(--lead-text-weight);
    font-size: var(--lead-text-size);
    line-height: var(--lead-text-line);
    font-family: var(--font-family-2);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.button {
    cursor: pointer;
    height: 60px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 0.25rem solid var(--primary-color-2);
    border-radius: var(--radius);
    background: var(--primary-color-2);
    font-weight: var(--section-categories-weight);
    font-size: var(--section-categories-size);
    line-height: var(--section-categories-line);
    box-shadow: 0px 0px 8px 2px var(--shadow-color-1);
    transition: box-shadow 0.3s ease-out;
    color: var(--secondary-color-4);
}

.button:hover {
    background: var(--secondary-color-5);
}

.hero .button,
.testimonials .button,
.formTopSection .button,
.footer .button {
    box-shadow: 0px 0px 8px 2px var(--shadow-color-2);
}

.button:hover {
    box-shadow: none;
}

header a {
    grid-column: 3 / 5;
    margin: auto;
}

header nav {
    grid-column: 5 / 11;
}

header .nav ul {
    height: 3.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .nav a {
    font-size: var(--highlight-text-size);
    font-weight: var(--highlight-text-weight);
    line-height: var(--highlight-text-line);
    color: var(--secondary-color-4);
    border-radius: var(--radius);
    text-decoration: none;
    padding: 0.3331rem 0.5rem;
}

header .nav .active {
    background-color: var(--primary-color-1);
    color: var(--secondary-color-5);
}

.hero,
.testimonials,
.formTopSection,
.footer {
    background: var(--primary-color-1);
    color: var(--secondary-color-5);
}

.header,
.hero,
.highlights,
.testimonials,
.about,
.formBottomSection,
.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.hero,
.testimonials,
.formTopSection {
    -webkit-box-shadow: 0px 5px 5px 0px var(--shadow-color-1);
    -moz-box-shadow: 0px 5px 5px 0px var(--shadow-color-1);
    box-shadow: 0px 5px 5px 0px var(--shadow-color-1);
}

.formTopSection {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.formTopSection h1 {
    grid-column: 3 / 11;
    color: var(--primary-color-2);
    font-weight: var(--display-title-weight);
    font-size: var(--display-title-size);
    line-height: var(--display-title-line);
    font-family: var(--font-family-1);
}

.heroText {
    grid-column: 3 / 8;
    margin: auto;
}

.heroText h1 {
    color: var(--primary-color-2);
    font-weight: var(--display-title-weight);
    font-size: var(--display-title-size);
    line-height: var(--display-title-line);
    font-family: var(--font-family-1);
}

.heroText h2 {
    font-weight: var(--sub-title-weight);
    font-size: var(--sub-title-size);
    line-height: var(--sub-title-line);
    font-family: var(--font-family-1);
}

.heroText a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.heroImages {
    grid-column: 8 / 11;
    display: flex;
    align-items: center;
}

.heroImages picture {
    margin-left: auto;
}

.heroImages img {
    max-height: 325px;
    border-radius: var(--radius);
}

.highlightsTitle,
.highlightsCards {
    grid-column: 3 / 11;
}

.highlightsTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
}

.highlightsTitle h2 {
    font-weight: var(--section-title-weight);
    font-size: var(--section-title-size);
    line-height: var(--section-title-line);
    margin: 0;
    text-transform: uppercase;
}

.highlightsCards {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background: var(--secondary-color-3);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardTitle h2 {
    margin: 0;
    font-weight: var(--cart-title-weight);
    font-size: var(--cart-title-size);
    line-height: var(--cart-title-line);
}
.cardTitle span {
    font-weight: var(--highlight-text-weight);
    font-size: var(--highlight-text-size);
    line-height: var(--highlight-text-line);
}

.cardTitle span {
    color: var(--secondary-color-1);
}

.contentTop p {
    font-weight: var(--paragraph-text-weight);
    font-size: var(--paragraph-text-size);
    line-height: var(--paragraph-text-line);
}

.card .content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.card .cardImage {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-size: cover;
    height: 185px;
}

.cardDelivery button {
    padding: 0;
    background: none;
    border: none;
    font-weight: var(--section-categories-weight);
    font-size: var(--section-categories-size);
    line-height: var(--section-categories-line);
    display: flex;
}

.cardDelivery button svg {
    padding-left: 0.5rem;
}

.testimonialsReview {
    grid-column: 3 / 11;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.testimonialsReview h2 {
    grid-column: 1 / 5;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--section-title-weight);
    font-size: var(--section-title-size);
    line-height: var(--section-title-line);
}

.review {
    cursor: pointer;
    background: var(--secondary-color-3);
    color: var(--secondary-color-4);
    padding: 1rem;
    border-radius: var(--radius);
}

.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars span {
    color: var(--secondary-color-1);
    font-weight: var(--section-title-weight);
    font-size: var(--section-title-size);
    line-height: var(--section-title-line);
}

.reviewImg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.pictureContainer {
    height: 12rem;
    margin: 1rem 0;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviewImg h3 {
    font-weight: var(--cart-title-weight);
    font-size: var(--cart-title-size);
    line-height: var(--cart-title-line);
    margin: 0;
}

.reviewModal .reviewContent,
.reviewModal .pictureContainer {
    width: 50%;
    margin: 0px;
}

.reviewModal .reviewContent {
    padding-left: 5%;
    box-sizing: border-box;
}

.reviewModal .pictureContainer {
    border-radius: var(--radius);
    padding-top: 50%;
    background-position-y: 0%;
    height: auto;
}

.reviewModal .stars {
    margin-bottom: 1rem;
    justify-content: flex-start;
}

.reviewModal .reviewImg {
    flex-direction: row;
}

.aboutText {
    grid-column: 3 / 8;
    margin: auto;
}

.aboutText h2 {
    color: var(--primary-color-2);
    font-weight: var(--display-title-weight);
    font-size: var(--display-title-size);
    line-height: var(--display-title-line);
    font-family: var(--font-family-1);
}

.aboutText h3 {
    font-weight: var(--sub-title-weight);
    font-size: var(--sub-title-size);
    line-height: var(--sub-title-line);
    font-family: var(--font-family-1);
}

.aboutImages {
    grid-column: 8 / 11;
    overflow: hidden;
    border-radius: var(--radius);
}

.formTop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem 2rem;
    grid-column: 3 / 11;
}

.formTop label {
    position: relative;
}

.formTop .formCheckbox,
.formTop .formRadio {
    display: flex;
    align-items: center;
}

.formTop .formRadio span {
    padding-right: 1rem;
}

.formTop .formCheckbox span {
    padding-left: 1rem;
}

.formTop .formRadio .inputError {
    bottom: -2rem;
}

.formTop span {
    display: flex;
    align-items: center;
    font-size: var(--highlight-text-size);
    font-weight: var(--highlight-text-weight);
    line-height: var(--highlight-text-line);
}

.formTop .formInput .labelName {
    margin-bottom: 0.5rem;
}

.formTop .formInput.success .labelName {
    color: var(--primary-color-2);
}

.formTop .labelName svg {
    color: var(--primary-color-2);
    font-size: 0.5rem;
    padding-right: 0.3331rem;
}

.formTop .inputError {
    position: absolute;
    margin-top: 0.5rem;
    color: var(--secondary-color-1);
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.formTop .inputError svg {
    font-size: 1.5rem;
    padding-right: 0.3331rem;
}

.formTop input.inputForm:not([type="radio"]):not([type="checkbox"]),
.formTop select,
.formTop textarea {
    display: block;
}

.formTop input.inputForm:not([type="radio"]):not([type="checkbox"]),
.formTop textarea,
.formTop .reactSelect__control {
    height: 80px;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    outline: none;
    color: var(--primary-color-1);
    border-color: var(--secondary-color-3);
    font-weight: var(--lead-text-weight);
    font-size: var(--lead-text-size);
    line-height: var(--lead-text-line);
    background-color: var(--secondary-color-3);
    border-radius: var(--radius-2);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-width: 4px;
    border-style: solid;
}

.formTop textarea {
    height: 170px;
}

.formTop .reactSelect__control {
    display: flex;
    align-items: center;
    align-content: center;
}

.formTop .reactSelect__control:hover {
    border-color: transparent;
}

.formTop input.inputForm::placeholder,
.formTop select::placeholder,
.formTop textarea::placeholder,
.formTop .reactSelect__placeholder {
    color: var(--secondary-color-4);
    text-shadow: none;
    box-shadow: none;
    opacity: 0.5;
    font-family: var(--font-family-2);
}

.formTop .reactSelect__value-container {
    padding: 2px 0px;
}

.formTop .error .inputForm:not([type="radio"]):not([type="checkbox"]):focus,
.formTop .error textarea:focus,
.formTop .error .reactSelect__control:focus,
.formTop .error .inputForm:not([type="radio"]):not([type="checkbox"]),
.formTop .error textarea,
.formTop .error .reactSelect__control {
    color: var(--secondary-color-1);
    border-color: var(--secondary-color-1);
}

.formTop input.inputForm:not([type="radio"]):not([type="checkbox"]):focus,
.formTop textarea:focus {
    box-shadow: none;
}

.formTop .reactSelect__control--is-focused,
.formTop .reactSelect__control--is-focused:hover {
    border-color: inherit;
    box-shadow: none;
}

.formTop .formCheckbox .inputForm,
.formTop .formRadio .inputForm {
    width: 1rem;
    height: 1rem;
}

.formTop .reactSelect__single-value,
.formTop .reactSelect__input-container {
    color: var(--primary-color-1);
}

.formTop .reactSelect__menu-list {
    color: var(--secondary-color-3);
    font-weight: var(--lead-text-weight);
    font-size: var(--lead-text-size);
    color: var(--secondary-color-4);
}

.formTop .reactSelect__indicator svg {
    color: var(--primary-color-1);
    width: 2rem;
    height: 2rem;
}

.formTop .error .reactSelect__indicator svg {
    color: var(--secondary-color-1);
}

.formSelected {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding-top: 0.5rem;
}

.formSelected > div:last-child {
    grid-column: 1 / 3;
    text-align: center;
    justify-content: center;
}

.selectedElementError,
.selectedElement {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: var(--highlight-text-size);
    font-weight: var(--highlight-text-weight);
    line-height: var(--highlight-text-line);
    padding-top: var(--highlight-text-line);
}

.selectedElementError > svg,
.selectedElement > svg {
    padding-right: 0.3331rem;
    font-size: 2rem;
    max-height: 2rem;
}

.selectedElementError {
    position: relative;
    color: var(--secondary-color-1);
}

.selectedElement:first-letter {
    text-transform: uppercase;
}

.selectedError svg {
    position: absolute;
    top: 0.3331rem;
}

.selectedError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formBottom {
    grid-column: 3 / 11;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagesBlock {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.imagesBlock div {
    padding-bottom: 100%;
    border-radius: var(--radius);
    background-size: cover;
}

.reviewOverlay,
.bookingOverlay {
    cursor: pointer;
    position: fixed;
    inset: 0px;
    background-color: var(--overlay-color-1);
}

.reviewModal,
.bookingModal {
    width: 50%;
    position: absolute;
    inset: 40px;
    border: none;
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    padding: 20px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: var(--radius);
}

.confirmedBooking {
    display: flex;
    flex-wrap: wrap;
}

.confirmedBooking h2 {
    color: var(--primary-color-1);
    font-weight: var(--section-title-weight);
    font-size: var(--section-title-size);
    line-height: var(--section-title-line);
    margin: 0;
    text-transform: uppercase;
}

.confirmedBooking p {
    width: 50%;
    font-weight: var(--paragraph-text-weight);
    font-size: var(--paragraph-text-size);
    line-height: var(--paragraph-text-line);
}

.footer svg {
    padding-right: 0.75rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin-bottom: 0.5rem;
}

.footer a {
    color: var(--secondary-color-5);
    text-decoration: none;
}

.footer h4 {
    font-weight: var(--cart-title-weight);
    font-size: var(--cart-title-size);
    line-height: var(--cart-title-line);
    color: var(--primary-color-2);
}

.footerLogo {
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footerLogo a {
    min-width: 50%;
}

.footerLogo img {
    width: 100%;
}

.footerLinks {
    grid-column: 5 / 7;
}

.footerContacts {
    grid-column: 7 / 9;
}

.footerContacts * {
    display: block;
    text-decoration: none;
    color: var(--secondary-color-5);
}

.footerSocial {
    grid-column: 9 / 11;
}

.footerContacts address p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.footerContacts address,
.footerContacts a,
.footerSocial a {
    display: flex;
}

@media (max-width: 767px) {
    :root {
        --display-title-size: 3rem;
        --display-title-line: 3rem;

        --sub-title-size: 2rem;
        --sub-title-line: 2rem;

        --lead-text-size: 1rem;
        --lead-text-line: 1rem;

        --section-title-size: 1.5rem;
        --section-title-line: 1.5rem;

        --section-categories-size: 1.3rem;
        --section-categories-line: 1.3rem;

        --cart-title-size: 1rem;
        --cart-title-line: 1rem;

        --paragraph-text-size: 1rem;
        --paragraph-text-line: 1rem;

        --highlight-text-size: 1rem;
        --highlight-text-line: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
    }

    .highlightsTitle h2,
    .highlightsTitle {
        margin-bottom: 1rem;
    }

    .card .content {
        height: auto;
    }

    .review {
        display: flex;
        flex-wrap: wrap;
    }

    .review p,
    .reviewImg {
        width: 50%;
    }

    .review p {
        box-sizing: border-box;
        padding-left: 5%;
    }

    .stars {
        justify-content: flex-start;
        width: 100%;
    }

    .highlightsTitle {
        flex-direction: column;
    }

    header .nav ul {
        flex-wrap: wrap;
    }

    .card {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }

    .testimonialsReview,
    .highlightsCards {
        grid-template-columns: 1fr;
    }

    .testimonialsReview h2 {
        grid-column: 1;
    }

    .formTopSection h1,
    .formBottom,
    .testimonialsReview,
    .highlightsTitle,
    .highlightsCards,
    header a,
    header nav,
    .formTop,
    .footerLogo,
    .footerLinks,
    .footerContacts,
    .footerSocial,
    .heroText,
    .aboutText,
    .heroImages,
    .aboutImages {
        grid-column: 1 / 13;
    }

    .footerLogo,
    .heroImages,
    .aboutImages {
        display: none;
    }

    .footer ul {
        display: flex;
        flex-wrap: wrap;
    }

    .footer li {
        width: 50%;
    }

    .formTop {
        grid-template-columns: 1fr;
    }

    .formTop input.inputForm:not([type="radio"]):not([type="checkbox"]),
    .formTop textarea,
    .formTop .reactSelect__control {
        max-width: none;
    }

    header .nav ul li {
        margin-bottom: 0.75rem;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .formTop input.inputForm:not([type="radio"]):not([type="checkbox"]),
    .formTop textarea,
    .formTop .reactSelect__control {
        max-width: none;
    }

    .formBottom,
    .testimonialsReview,
    .highlightsTitle,
    .highlightsCards,
    header a,
    header nav,
    .formTop,
    .footerLogo,
    .footerLinks,
    .footerContacts,
    .footerSocial,
    .heroText,
    .aboutText,
    .heroImages,
    .aboutImages {
        grid-column: 1 / 13;
    }

    .heroText,
    .aboutText {
        grid-column: 1 / 8;
    }

    .heroImages,
    .aboutImages {
        grid-column: 8 / 13;
    }

    .footerLogo {
        grid-column: 1 / 4;
    }

    .footerLinks {
        grid-column: 4 / 7;
    }

    .footerContacts {
        grid-column: 7 / 10;
    }

    .footerSocial {
        grid-column: 10 / 13;
    }

    .testimonialsReview h2 {
        grid-column: 1 / 3;
    }

    .testimonialsReview {
        grid-template-columns: repeat(2, 1fr);
    }

    .formTopSection h1 {
        text-align: center;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}
